@{
    ViewBag.Title = "Breakfast order";
}
<h1>Breakfast order</h1>
@using (Html.BeginForm("Index", "Exercise03", FormMethod.Post))
{
    <p>Your name: <input type="text" name="fullname" /></p>
    <p>Room number: <input type="number" name="roomnumber" /></p>
    <p>
        What would you like to eat for breakfast?<br /><br />
        <input type="checkbox" name="menuitem" value="cornflakes" /> Cornflakes<br />
        <input type="checkbox" name="menuitem" value="egg" /> Egg<br />
        <input type="checkbox" name="menuitem" value="toast" /> Toast<br />
        <input type="checkbox" name="menuitem" value="juice" /> Juice<br />
        <input type="checkbox" name="menuitem" value="milk" /> Milk<br />
        <input type="checkbox" name="menuitem" value="coffee" /> Coffee<br />
        <input type="checkbox" name="menuitem" value="tea" /> Tea<br />
    </p>
    <p>When: <input type="datetime" name="time" /> </p>
    <p>
        <input type="submit" value="Order" />
    </p>
}
