@{
}
<h1>Breakfast order</h1>
<p>Good morning @ViewBag.name</p>
<br />
<p>You have ordered: <strong>@ViewBag.order</strong></p>
<br />
<p>Your order will be prepared and delivered to room @ViewBag.room on date: @ViewBag.date</p>